<h1>This is the Account management page.</h1>

<ul>
	<li><%= button_to "Link Facebook", welcome_account_management_path %></li><br>
	<li><%= button_to "Link Twitter", welcome_account_management_path %></li><br>
	<li><%= button_to "Link Instagram", welcome_account_management_path %></li><br>
	<li><%= button_to "My Timelines", welcome_timelines_path %></li><br>
</ul>