<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<% if current_user %>
<% smlist = [] %>
<% current_user.providers.each do |p|%>
	<% smlist << p.service%>
<%end%>
your linked accounts are
<%=smlist%>

<% #if p.service == "facebook"%>
	
<%#elsif p.service != "facebook"%>
<%= link_to "Link account with Facebook", "/auth/facebook" %>	
<%#elsif p.service == 'twitter'%>
| <%= link_to "Link account with Twitter", "/auth/twitter" %> 
<%#end%>

<%end%>


